# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Models
*.h5
*.keras
models/trained_models/  # keep only final models

# Dataset
datasets/raw/
datasets/processed/
*.csv
*.json

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Temporary files
static/temp/*
static/uploads/*
!static/temp/.gitkeep
!static/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
